@import url('https://fonts.googleapis.com/css?family=Russo+One');

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Russo One', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

header {
	background-color: #423a66;

}