/* nav */
@import url('https://fonts.googleapis.com/css?family=Russo+One');
/* logo */
@import url('https://fonts.googleapis.com/css?family=Acme');
/* standart */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Russo One', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

.link-style-fix {
	color: white;
	font-style: none;
}

header {
	background-color: #423a66;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	height: 9.5vh;
	color: white;
	text-align: center;
}


header{grid-area: header;}
main{grid-area: main;}
footer{grid-area: footer;}

body {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	grid-template-areas: "header"
						 "main"
						 "footer";
}

.logo>img {
	height: 6vh;
	width: auto;
	object-fit: cover;
	padding: 1.5vh 0px 1.5vh 0px;
}

.logo>span {
	position: absolute;
	line-height: 10.5vh;
	margin: 0px 0px 0px 14px;
	font-size: 30px;
	font-family: 'Acme', sans-serif;
}

nav>ul>li {
	display: inline;
	margin: 0px 10px 0px 10px;
	font-size: 22px;
	line-height: 9.5vh;
}

nav>ul>li>a {
	text-decoration: none;
	color: white;
}

/* mainPage */ 

.mainTheme {
	height: 55vh;
	background-image: url('images/main/main.jpg');      
	background-position: center center;      
	background-repeat: no-repeat;      
	background-attachment: fixed;      
	background-size: cover;      
	background-color: #464646;
}



/* footer */

footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: #212127;
	width: 100%;
	height: 20vh;
	align-items: center;
	justify-items: center;
}

footer>div>ul>li {
	list-style: none;
	display: inline;
}

footer>div:nth-child(1) {
	color: #68497a;
	font-size: 6vh;
}

footer>div:nth-child(2) {
	color: white;
}
footer>div:nth-child(2)>span {
	font-size: 30px;
}
footer>div:nth-child(2)>ul {
	margin-top: 5px;
}
footer>div:nth-child(2)>ul>li>a {
	color: white;
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 1px;

}

footer>div:nth-child(3)>p>a {
	font-size: 14px;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 1px;
}
footer>div:nth-child(3)>p:not(:last-child) {
	margin-bottom: 8px;
}
footer>div:nth-child(3)>p:not(:last-child)>a {
	color: #919193;
}
footer>div:nth-child(3)>p:last-child {
	color: #533d58;
	text-decoration: none;
}
